Source: qvarn-jsonb
Maintainer: QvarnLabs <info@qvarnlabs.com>
Uploaders: Lars Wirzenius <liw@qvarnlabs.com>
Section: web
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 python3-all,
 python3-setuptools,
 python3-slog,
 python3-cliapp,
 python3-ttystatus,
 python3-requests,
 python3-yaml,
 python3-psycopg2,
 python3-apifw,
 python3-coverage-test-runner,
 python-jwt,
 python3-jwt,
 cmdtest,
 pycodestyle,
 pylint,
 pylint3,
 python3-requests,
 python-requests,
 python-crypto,
 python3-crypto,
 python-cryptography,
 python3-cryptography,
 python3-pymongo
X-Python3-Version: >= 3.5

Package: qvarn-jsonb
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3 (>= 3.5),  qvarn-common, python3-pymongo
Description: web service backend for structured data storage
 This is a backend service for storing structured (JSON) and some
 associated binary data using a REST-ful HTTP API and OpenID Connect
 authentication.

Package: qvarn-utils
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3 (>= 3.5), python3-yaml, qvarn-common, python3-cliapp,
 python3-ttystatus
Description: utilities for use with a Qvarn server
 This package contains utilities qvarn-stats, qvarn-dump, and qvarn-copy,
 which are command line utilities that use the Qvarn server API to do
 various useful things.
 .
 See qvarn-jsonb for the server package.


Package: qvarn-common
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3 (>= 3.5), python3-yaml, python3-requests
Description: common files for Qvarn server, clients
 This package contains common files between the Qvarn server and command
 line utilities.
 .
 See qvarn-jsonb for the server package, and qvarn-utils for the
 utilities.
